data/secciones/01-aguascalientes.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/02-baja[[:space:]]california.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/03-baja[[:space:]]california[[:space:]]sur.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/04-campeche.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/05-coahuila.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/06-colima.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/07-chiapas.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/08-chihuahua.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/09-distrito[[:space:]]federal.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/10-durango.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/11-guanajuato.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/12-guerrero.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/13-hidalgo.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/14-jalisco.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/15-mexico.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/16-michoacan.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/17-morelos.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/18-nayarit.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/19-nuevo[[:space:]]leon.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/20-oaxaca.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/21-puebla.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/22-queretaro.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/23-quintana[[:space:]]roo.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/24-san[[:space:]]luis[[:space:]]potosi.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/25-sinaloa.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/26-sonora.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/27-tabasco.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/28-tamaulipas.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/29-tlaxcala.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/30-veracruz.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/31-yucatan.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/32-zacatecas.json filter=lfs diff=lfs merge=lfs -crlf
