data/secciones/federales/01-aguascalientes.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/02-baja[[:space:]]california.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/03-baja[[:space:]]california[[:space:]]sur.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/04-campeche.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/05-coahuila.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/06-colima.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/07-chiapas.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/08-chihuahua.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/09-distrito[[:space:]]federal.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/10-durango.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/11-guanajuato.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/12-guerrero.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/13-hidalgo.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/14-jalisco.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/15-mexico.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/16-michoacan.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/17-morelos.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/18-nayarit.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/19-nuevo[[:space:]]leon.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/20-oaxaca.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/21-puebla.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/22-queretaro.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/23-quintana[[:space:]]roo.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/24-san[[:space:]]luis[[:space:]]potosi.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/25-sinaloa.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/26-sonora.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/27-tabasco.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/28-tamaulipas.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/29-tlaxcala.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/30-veracruz.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/31-yucatan.json filter=lfs diff=lfs merge=lfs -crlf
data/secciones/federales/32-zacatecas.json filter=lfs diff=lfs merge=lfs -crlf
